.mat-intro {
    width: 100%;
    height: calc(100vh - #{$header-height-xs});
    text-align: center;
    margin-bottom: 3rem;
    background-color: rgba($main-color, 0.7);
    background-image: url(../img/bg-mobile-2x.jpg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 25;
}

.mat-intro__container {
    position: relative;
    height: 100%;
}

.mat-intro__title {
    font-family: "SigmarOne", "Arial", sans-serif;
    font-size: 2.6rem;
    line-height: normal;
    letter-spacing: 0.07em;
    color: $accent-color;
    margin-top: 0;
    padding-top: 7vh;
}

.mat-intro__text {
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: $white;
    position: absolute;
    right: 0;
    left: 0;
    top: 63%;
}

@include respond-to(medium) {
    .mat-intro {
        height: calc(100vh - #{$header-height-ml});
        background-image: url(../img/main-bg-2x.jpg);
        background-size: cover;
        background-position: 50% 20%;
        background-repeat: no-repeat;
        margin-bottom: 4.2rem;
    }

    .mat-intro__title {
        font-size: 2.8rem;
    }

    .mat-intro__text {
        text-align: right;
        font-weight: 500;
        top: 55%;
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
}

@include respond-to(large) {
    .mat-intro {
        height: calc(100vh - #{$header-height-xl});
        margin-bottom: 6.2rem;
        text-align: right;
    }

    .mat-intro__title  {
        padding-top: 8vh;

        & br {
            display: none;
        }
    }

    .mat-intro__text {
        font-size: 1.4rem;
    }
}

@include respond-to(big-large) {
    .mat-intro__text {
        top: 63%;
        font-size: 1.3rem;
    }
}

@include respond-to(extra-large) {
    .mat-intro__text {
        font-size: 2rem;
        line-height: 3rem;
    }

    .mat-intro__title  {
        font-size: 3.6rem;

    }
}
